html {
  scroll-snap-type: mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 18px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
  position: relative;
}

.app__videos::-webkit-scrollbar {
  display: none;
}